{% extends 'base.html.twig' %}

{% block title %}Modifier un match{% endblock %}

{% block body %}
    <h1>Modifier le match {{ match.id }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_matchs') }}">Retour à la liste des matchs</a>
{% endblock %}
